/*Menu d�roulant pour le contenu*/
.listeContenu li {
	/*float: left;*/
	list-style-type: none;
}
.listeContenu a {
	color: black;
}
.contenu:hover {
	margin-bottom: 70px;
}
.contenu #frEtLeg,#boissons,#viandes,#laitages,#autre
{	
	position: absolute;
	visibility: hidden;
}

.contenu #frEtLeg a
{	
	display: block;
	padding-left: 20px;
	font-style: normal;
	color: grey;
	text-align: left;
}
.contenu #frEtLeg a:hover {
	color: black;
	text-decoration: none;
}
	
.contenu #boissons a
{	
	display: block;
	padding-left: 20px;
	font-style: normal;
	color: grey;
	text-align: left;
}
.contenu #boissons a:hover {
	color: black;
	text-decoration: none;
}

.contenu #viandes a
{	
	display: block;
	padding-left: 20px;
	font-style: normal;
	color: grey;
	text-align: left;
}
.contenu #viandes a:hover {
	color: black;
	text-decoration: none;
}

.contenu #laitages a
{	
	display: block;
	padding-left: 20px;
	font-style: normal;
	color: grey;
	text-align: left;
}
.contenu #laitages a:hover {
	color: black;
	text-decoration: none;
}

.contenu #autre a
{	
	display: block;
	padding-left: 20px;
	font-style: normal;
	color: grey;
	text-align: left;
}
.contenu #autre a:hover {
	color: black;
	text-decoration: none;
}

.contenu #epicerie a
{	
	display: block;
	padding-left: 20px;
	font-style: normal;
	color: grey;
	text-align: left;
}
.contenu #epicerie a:hover {
	color: black;
	text-decoration: none;
}

.listeContenu .perime .datePeremption {
	color: red;
}
.dates {
	
}