.accordion-toggle {
	color: grey;
}
.accordion-toggle:hover {
	color: black;
	text-decoration: none;
}
.ajout {
	position: absolute;
	visibility: hidden;
	display: block;
}
.ajoutContenu {
	margin-top: 10%;
}