#nomListe {
	color: grey;
	font-weight: bold;
}
#nomListe:hover {
	color: black;
	text-decoration: none;
}
.contenuListe {
	color: grey;
}
.surContenu {
	width: 60%;
}
form {
	margin-top: 10%;
}
.ajout {
	margin-top: 10%;
}
#boutonAjout {
	color: black;
	padding: 3px;
	-webkit-appearance: button;
}
#boutonAjout:hover {
	color: black;
	text-decoration: none;
	background: rgb(200, 225, 255)
}