body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

	/*Ajouté par Maï*/
.wrap {
	margin-left: 400px;
}
/*Gestion des sous-onglets*/
.nav li {
	float: left;
}
.nav #m1, #m2
{	
	position: absolute;
	visibility: hidden;
}	
.nav #m1 a
{	
	display: block;
	font-style: normal;
	color: grey;
	text-align: left;
  	border: 1px solid rgba(0,0,0,.1);
  	padding-right: 10px;
  	padding-left: 10px;
}
.nav #m2 a
{	
	display: block;
	font-style: normal;
	color: grey;
	text-align: left;	
 	border: 1px solid rgba(0,0,0,.1);
 	padding-right: 10px;
 	padding-left: 10px;
}
.nav #m1 a:hover {
	color: black;
	text-decoration: none;
}
.nav #m2 a:hover {
	color: black;
	text-decoration: none;
}

/*Gestion de la liste courante*/
.listeCour, .contenuFrigo {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
.contenuFrigo {
    margin-left: 40px;
    position: fixed;
    top: 140px;
    left: 360px;
}
.listeCour
{
    position: fixed;
    top: 150px;
    left: 40px;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 0.9em;
}
.listeContenu {
	position: fixed;
	width: 500px;
	top: 250px;
	left: 1000px;
}
.postit {
	background-color: white/*#FFFF66*/;
	color: grey;
	padding: 10px;
	border: 3px solid rgba(0,0,0,.1);
}
/*Spécial historique*/
#histo h2 {
   margin-left: 400px;
}
#histo .controls_center {
   margin-left: 400px;
}

/*Menu déroulant pour le contenu*/
.contenu1 li {
	float: left;
}
.contenu1:hover {
	margin-bottom: 70px;
}
.contenu1 #frEtLeg
{	
	position: absolute;
	visibility: hidden;
}	
.contenu1 #frEtLeg a
{	
	display: block;
	padding-left: 20px;
	font-style: normal;
	color: grey;
	text-align: left;
}
.contenu1 #frEtLeg a:hover {
	color: black;
	text-decoration: none;
}
.listeContenu .perime .datePeremption {
	color: red;
}