/* Style de la page de profil */

.wrap {
	display: inline-block;
}
#imageProfil {
	display: inline-block;
	float: right;
	margin-right: 30%;
	margin-top: 100px;
}

#stat {
	margin-top: 20px;
}

strong {
	color: grey;
}