.repereRecette {
	margin-left: 400px;	
}
.favorie {
	font-weight: bold;
	font-size: medium;
}
.recettesFav {
	margin: 20px;
}
.caract {
	color: grey;
	list-style-type: none;
	padding: 5px;
}
/* #(cara+'${recette.nom}') { */
/* 	position: absolute; */
/* 	visibility: hidden; */
/* } */
/* .espace:hover { */
/* 	padding-bottom: 75px; */
/* } */
.lien {
	margin-top: 7px;
}
/* #(cara+'${recette.nom}') li { */
/* 	float: left; */
/* 	display: block; */
/* } */