.repereRecette {
/* 	margin-left: 10%;	 */
}
#recetteFav {
	font-weight: bold;
	font-size: medium;
	color: grey;
}
#recetteFav:hover {
	text-decoration: none;
	color: black;
}
.caract {
	display: inline-block;
	color: grey;
	list-style-type: none;
	padding: 5px;
}
.sousCaract {
	padding-left: 5%;
	padding-bottom: 2%;
}
.sousCaract p {
	margin: 1%;
}
.lien {
	margin-top: 7px;
}