<!-- #{extends 'Application/listeCour.html' /} -->

<script src="/public/javascripts/jquery-1.10.1.js"></script>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/javascripts/ajoutAliment.js"></script>
<script src="/public/javascripts/chevron.js"></script>

#{set 'moreStyles'} 
	#{stylesheet '/index.css' /} 
#{/set}
#{if session.page =='index'} 
	#{set accueilActif:'active'/} #{/if}
#{elseif session.page =='ancienEtat'} 
	#{set historiqueActif:'active'/}
#{/elseif}

<meta charset="UTF-8">

<!-- affichage de la photo de l'état actuel du frigo -->
<!-- Titre -->
<div class="container">
	<div class="row show-grid">
			<div class="span12 offset1">
			<h3>Voici l'état de votre frigo le ${etatFrigo.date.format('dd MMMM yyyy HH:mm')}</h3>
			</div>

	</div>
	
	<!-- affichage des éléments présents dans le frigo -->
	<div class="span3 liste_bloc">
		<h4>
			<center>Contenu de votre frigo</center>
		</h4>

		<!-- Fruits et légumes -->
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#item1" data-toggle="collapse"
				onclick="changeChevron()">
				<img src="/public/images/categories/carotte.svg" width=20px /> Fruits et Légumes
					<script>
						document.write('<img class="chevron" src="'+srcChevron+'" width=20px />'); 
 					</script> 
			
			</a>
		</div>
		
		<div id="item1" class="collapse">
			<div class="accordion-inner">

				#{list items:fruitsLegumes, as:'aliment'} 
				<strong><a href="#" class="suppr"
					title="retirer cet élément de mon contenu"><img
					src="/public/images/delete.png" width=15px /></a>
				${aliment.nom}
				<a class="ajoutContListe" href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}'
					title="ajouter cet élément à ma liste">
<!-- 					Ajout -->
					<img src="/public/images/icon-add-grey.png" width=15px /></a>
				</strong>
				<aside class="dates">
					<h5>
						<small>Dans le frigo depuis le :
							${aliment.entreeFrigo.format('dd/MM/yy')} </small>
					</h5>
					<h5>
						<small>Périme le :
							${aliment.peremption.format('dd/MM/yy')}</small>
					</h5>
				</aside>
				
				#{/list}
			</div>
		</div>

		<!-- Boissons -->
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#item2" data-toggle="collapse">
				<img src="/public/images/categories/boisson.svg" width=20px /> Boissons
			</a>
		</div>
		<div id="item2" class="collapse">
			<div class="accordion-inner">

				#{list items:boissons, as:'aliment'} 
				<strong><a href="#" class="suppr"
					title="retirer cet élément de mon contenu"><img
					src="/public/images/delete.png" width=15px /></a>
				${aliment.nom}
				<a class="ajoutContListe" href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}'
					title="ajouter cet élément à ma liste">
<!-- 					Ajout -->
					<img src="/public/images/icon-add-grey.png" width=15px /></a>
				</strong>
				<aside class="dates">
					<h5>
						<small>Dans le frigo depuis le :
							${aliment.entreeFrigo.format('dd/MM/yy')} </small>
					</h5>
					<h5>
						<small>Périme le :
							${aliment.peremption.format('dd/MM/yy')}</small>
					</h5>
				</aside>
				#{/list}
			</div>
		</div>

		<!-- Viande & Poisson -->
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#item3" data-toggle="collapse">
				<img src="/public/images/categories/steak.svg" width=20px /> Viandes et Poissons
			</a>
		</div>
		<div id="item3" class="collapse">
			<div class="accordion-inner">

				#{list items:viandes, as:'aliment'}
				<strong><a href="#" class="suppr"
					title="retirer cet élément de mon contenu"><img
					src="/public/images/delete.png" width=15px /></a> 
				${aliment.nom}
				<a class="ajoutContListe" href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}'
					title="ajouter cet élément à ma liste">
<!-- 					Ajout -->
					<img src="/public/images/icon-add-grey.png" width=15px /></a>
				</strong>
				<aside class="dates">
					<h5>
						<small>Dans le frigo depuis le :
							${aliment.entreeFrigo.format('dd/MM/yy')} </small>
					</h5>
					<h5>
						<small>Périme le :
							${aliment.peremption.format('dd/MM/yy')}</small>
					</h5>
				</aside>
				#{/list}
			</div>
		</div>

		<!-- Laitages -->
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#item4" data-toggle="collapse"><img
				src="/public/images/categories/lait.svg" width=20px /> Laitages </a>
		</div>
		<div id="item4" class="collapse">
			<div class="accordion-inner">
				#{list items:laitages, as:'aliment'}
				<strong><a href="#" class="suppr"
					title="retirer cet élément de mon contenu"><img
					src="/public/images/delete.png" width=15px /></a> 
				${aliment.nom}
				<a class="ajoutContListe" href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}'
					title="ajouter cet élément à ma liste">
<!-- 					Ajout -->
					<img src="/public/images/icon-add-grey.png" width=15px /></a>
				</strong>
				<aside class="dates">
					<h5>
						<small>Dans le frigo depuis le :
							${aliment.entreeFrigo.format('dd/MM/yy')} </small>
					</h5>
					<h5>
						<small>Périme le :
							${aliment.peremption.format('dd/MM/yy')}</small>
					</h5>
				</aside>
				#{/list}
			</div>
		</div>

		<!-- Epicerie -->
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#item5" data-toggle="collapse">
				<img src="/public/images/categories/condiments.svg" width=20px /> Epicerie
			</a>
		</div>
		<div id="item5" class="collapse">
			<div class="accordion-inner">
				#{list items:epicerie, as:'aliment'}
				<strong><a href="#" class="suppr"
					title="retirer cet élément de mon contenu"><img
					src="/public/images/delete.png" width=15px /></a> 
				${aliment.nom}
				<a class="ajoutContListe" href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}'
					title="ajouter cet élément à ma liste">
<!-- 					Ajout -->
					<img src="/public/images/icon-add-grey.png" width=15px /></a>
				</strong>
				<aside class="dates">
					<h5>
						<small>Dans le frigo depuis le :
							${aliment.entreeFrigo.format('dd/MM/yy')} </small>
					</h5>
					<h5>
						<small>Périme le :
							${aliment.peremption.format('dd/MM/yy')}</small>
					</h5>
				</aside>
				#{/list}
			</div>
		</div>

		<!-- Autres -->
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#item6" data-toggle="collapse">
				<img src="/public/images/categories/confiture.svg" width=20px /> Autres
			</a>
		</div>
		<div id="item6" class="collapse">
			<div class="accordion-inner">
				#{list items:autre, as:'aliment'} 
				<strong><a href="#" class="suppr"
					title="retirer cet élément de mon contenu"><img
					src="/public/images/delete.png" width=15px /></a>
				${aliment.nom} 
				<a class="ajoutContListe" href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}'
					title="ajouter cet élément à ma liste">
<!-- 					<b>Ajout</b> -->
					<img src="/public/images/icon-add-grey.png" width=15px /></a>
				</strong>
				<aside class="dates">
					<h5>
						<small>Dans le frigo depuis le :
							${aliment.entreeFrigo.format('dd/MM/yy')} </small>
					</h5>
					<h5>
						<small>Périme le :
							${aliment.peremption.format('dd/MM/yy')}</small>
					</h5>
				</aside>
				#{/list}
			</div>
		</div>
		
		
		#{if session.page=='index'}
			<div>
				<form class="ajoutContenu" method="post" action='@{Application.ajoutAlimentContenu}'>
					<input type="text" placeholder="Ajouter un aliment présent" 
					name="aliment" /> 
					<select name="section">
					#{list models.Section, as:'sec'}
						<option name="item">${sec.name}</option>
					#{/list}
					</select>
				<input type="submit" value="Ajouter">
			</form>
			</div>
		#{/if}
	</div>
	
		<div class="span4">
			<!-- l'état actuel du frigo est le plus récent des états frigos de l'utilisateur -->
			<a href="#"
				onclick="ajoutAliment()">
				<img src="${etatFrigo.image}" height="352" width="470" />
			</a>
			<p>Date de la prise : ${etatFrigo.date.format('dd MMMM yyyy	HH:mm')}</p>
		</div>



		<!-- </div> container -->


		<!--  version récupérée d'Emilie -->
		<!-- 	<!-- affichage des éléments présents dans le frigo -->

		<!-- 		<div class="span3 offset3"> -->
		<!-- 			<br> -->
		<!-- 			<h4>Contenu de votre frigo</h4> -->
		<!-- 			</br> -->

		<!-- 			<!-- Fruits et légumes -->

		<!-- 			<div class="accordion-heading"> -->
		<!-- 				<a class="accordion-toggle" href="#item1" data-toggle="collapse"><img -->
		<!-- 					src="/public/images/carotte.svg" width=20px /> Fruits et Légumes</a> -->
		<!-- 			</div> -->
		<!-- 			<div id="item1" class="collapse"> -->
		<!-- 				<div class="accordion-inner"> -->

		<!-- 					#{list items:fruitsLegumes, as:'aliment'} <strong>${aliment.nom} -->
		<!-- 					</strong><a -->
		<!-- 						href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}' -->
		<!-- 						title="ajouter cet élément à ma liste"><img -->
		<!-- 						src="/public/images/icon-add-grey.png" width=15px /></a> -->
		<!-- 					<aside class="dates"> -->
		<!-- 						<h5> -->
		<!-- 							<small>Dans le frigo depuis le : -->
		<!-- 								${aliment.entreeFrigo.format('dd/MM/yy')} </small> -->
		<!-- 						</h5> -->
		<!-- 						<h5> -->
		<!-- 							<small>Périme le : -->
		<!-- 								${aliment.peremption.format('dd/MM/yy')}</small> -->
		<!-- 						</h5> -->
		<!-- 					</aside> -->
		<!-- 					#{/list} -->
		<!-- 				</div> -->
		<!-- 			</div> -->

		<!-- 			<!-- Boissons -->

		<!-- 			<div class="accordion-heading"> -->
		<!-- 				<a class="accordion-toggle" href="#item2" data-toggle="collapse"> -->
		<!-- 					<img src="/public/images/boisson.svg" width=20px /> Boissons -->
		<!-- 				</a> -->
		<!-- 			</div> -->
		<!-- 			<div id="item2" class="collapse"> -->
		<!-- 				<div class="accordion-inner"> -->

		<!-- 					#{list items:boissons, as:'aliment'} <strong>${aliment.nom} -->
		<!-- 					</strong><a -->
		<!-- 						href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}' -->
		<!-- 						title="ajouter cet élément à ma liste"> <img -->
		<!-- 						src="/public/images/icon-add-grey.png" width=15px /> -->
		<!-- 					</a> -->
		<!-- 					<aside class="dates"> -->
		<!-- 						<h5> -->
		<!-- 							<small>Dans le frigo depuis le : -->
		<!-- 								${aliment.entreeFrigo.format('dd/MM/yy')} </small> -->
		<!-- 						</h5> -->
		<!-- 						<h5> -->
		<!-- 							<small>Périme le : -->
		<!-- 								${aliment.peremption.format('dd/MM/yy')}</small> -->
		<!-- 						</h5> -->
		<!-- 					</aside> -->
		<!-- 					#{/list} -->
		<!-- 				</div> -->
		<!-- 			</div> -->

		<!-- 			<!-- Viande & Poisson -->

		<!-- 			<div class="accordion-heading"> -->
		<!-- 				<a class="accordion-toggle" href="#item3" data-toggle="collapse"> -->
		<!-- 					<img src="/public/images/steak.svg" width=20px /> Viandes -->
		<!-- 				</a> -->
		<!-- 			</div> -->
		<!-- 			<div id="item3" class="collapse"> -->
		<!-- 				<div class="accordion-inner"> -->

		<!-- 					#{list items:viandes, as:'aliment'} <strong>${aliment.nom} -->
		<!-- 					</strong><a -->
		<!-- 						href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}' -->
		<!-- 						title="ajouter cet élément à ma liste"><img -->
		<!-- 						src="/public/images/icon-add-grey.png" width=15px /></a> -->
		<!-- 					<aside class="dates"> -->
		<!-- 						<h5> -->
		<!-- 							<small>Dans le frigo depuis le : -->
		<!-- 								${aliment.entreeFrigo.format('dd/MM/yy')} </small> -->
		<!-- 						</h5> -->
		<!-- 						<h5> -->
		<!-- 							<small>Périme le : -->
		<!-- 								${aliment.peremption.format('dd/MM/yy')}</small> -->
		<!-- 						</h5> -->
		<!-- 					</aside> -->
		<!-- 					#{/list} -->
		<!-- 				</div> -->
		<!-- 			</div> -->

		<!-- 			<!-- Laitages -->

		<!-- 			<div class="accordion-heading"> -->
		<!-- 				<a class="accordion-toggle" href="#item4" data-toggle="collapse"><img -->
		<!-- 					src="/public/images/lait.svg" width=20px /> Laitages </a> -->
		<!-- 			</div> -->
		<!-- 			<div id="item4" class="collapse"> -->
		<!-- 				<div class="accordion-inner"> -->
		<!-- 					#{list items:laitages, as:'aliment'} <strong>${aliment.nom} -->
		<!-- 					</strong><a -->
		<!-- 						href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}' -->
		<!-- 						title="ajouter cet élément à ma liste"><img -->
		<!-- 						src="/public/images/icon-add-grey.png" width=15px /></a> -->

		<!-- 					<aside class="dates"> -->
		<!-- 						<h5> -->
		<!-- 							<small>Dans le frigo depuis le : -->
		<!-- 								${aliment.entreeFrigo.format('dd/MM/yy')} </small> -->
		<!-- 						</h5> -->
		<!-- 						<h5> -->
		<!-- 							<small>Périme le : -->
		<!-- 								${aliment.peremption.format('dd/MM/yy')}</small> -->
		<!-- 						</h5> -->
		<!-- 					</aside> -->
		<!-- 					#{/list} -->
		<!-- 				</div> -->
		<!-- 			</div> -->

		<!-- 			<!-- Epicerie -->

		<!-- 			<div class="accordion-heading"> -->
		<!-- 				<a class="accordion-toggle" href="#item5" data-toggle="collapse"> -->
		<!-- 					<img src="/public/images/confiture.svg" width=20px /> Epicerie -->
		<!-- 				</a> -->
		<!-- 			</div> -->
		<!-- 			<div id="item5" class="collapse"> -->
		<!-- 				<div class="accordion-inner"> -->
		<!-- 					#{list items:epicerie, as:'aliment'} <strong>${aliment.nom} -->
		<!-- 					</strong><a -->
		<!-- 						href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}' -->
		<!-- 						title="ajouter cet élément à ma liste"><img -->
		<!-- 						src="/public/images/icon-add-grey.png" width=15px /></a> -->

		<!-- 					<aside class="dates"> -->
		<!-- 						<h5> -->
		<!-- 							<small>Dans le frigo depuis le : -->
		<!-- 								${aliment.entreeFrigo.format('dd/MM/yy')} </small> -->
		<!-- 						</h5> -->
		<!-- 						<h5> -->
		<!-- 							<small>Périme le : -->
		<!-- 								${aliment.peremption.format('dd/MM/yy')}</small> -->
		<!-- 						</h5> -->
		<!-- 					</aside> -->
		<!-- 					#{/list} -->
		<!-- 				</div> -->
		<!-- 			</div> -->

		<!-- 			<!-- Autres -->

		<!-- 			<div class="accordion-heading"> -->
		<!-- 				<a class="accordion-toggle" href="#item6" data-toggle="collapse"> -->
		<!-- 					<img src="/public/images/confiture.svg" width=20px /> Autres -->
		<!-- 				</a> -->
		<!-- 			</div> -->
		<!-- 			<div id="item6" class="collapse"> -->
		<!-- 				<div class="accordion-inner"> -->
		<!-- 					#{list items:autre, as:'aliment'} <strong>${aliment.nom} </strong><a -->
		<!-- 						href='@{Application.ajoutAlimentListe(aliment.nom, etatFrigo.id)}' -->
		<!-- 						title="ajouter cet élément à ma liste"><img -->
		<!-- 						src="/public/images/icon-add-grey.png" width=15px /></a> -->
		<!-- 					<aside class="dates"> -->
		<!-- 						<h5> -->
		<!-- 							<small>Dans le frigo depuis le : -->
		<!-- 								${aliment.entreeFrigo.format('dd/MM/yy')} </small> -->
		<!-- 						</h5> -->
		<!-- 						<h5> -->
		<!-- 							<small>Périme le : -->
		<!-- 								${aliment.peremption.format('dd/MM/yy')}</small> -->
		<!-- 						</h5> -->
		<!-- 					</aside> -->
		<!-- 					#{/list} -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->

		<!-- 		<div class="span6"> -->
		<!-- 			<!-- l'état actuel du frigo est le plus récent des états frigos de l'utilisateur -->
		<!-- 			<img src="${etatFrigo.image}" height="352" width="470"></img> -->
		<!-- 			<p>Date de la prise : ${etatFrigo.date.format('dd MMMM yyyy HH:mm')}</p> -->

		<!-- 			</article> -->