#{extends 'main.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
        #{stylesheet 'sly/normalize.css' /}
        
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}         
        #{script 'reflex.js' /}   
#{/set}

#{set historiqueActif:'active'/}

<meta charset="UTF-8">

<div id="histo">
			<h2>Votre historique : </h2>

			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>

			<div class="frame effects" id="effects">
				<ul class="clearfix">
					<img class="reflex" src="@{'/public/img/IMG_3614.jpg'}" height="352" width="470"></img>
					<img class="reflex" src="@{'/public/img/IMG_3615.jpg'}" height="352" width="470"></img>
					<img class="reflex" src="@{'/public/img/IMG_3616.jpg'}" height="352" width="470"></img>
					<img class="reflex" src="@{'/public/img/IMG_3617.jpg'}" height="352" width="470"></img>
					<img class="reflex" src="@{'/public/img/IMG_3618.jpg'}" height="352" width="470"></img>
				</ul>
			</div>

			<div class="controls_center">
				<button class="btn prev"><!-- <i class="icon-chevron-left"></i>-->< prev</button>
				<button class="btn next">next ><!-- <i class="icon-chevron-right"></i>--></button>
			</div>
		</div>
		
		<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="@{'/public/javascripts/sly/vendor/plugins.js'}"></script>
	<script src="@{'/public/javascripts/sly/sly.js'}"></script>
	<script src="@{'/public/javascripts/sly/horizontal.js'}"></script>
