#{extends 'main.html' /}

#{set 'moreStyles'} 
	#{stylesheet 'sly/font-awesome.css' /} 
	#{stylesheet 'contentflow.css' /}
	#{stylesheet 'contentflowAddOn_white.css' /}
#{/set} 

#{set 'moreScripts'} 
	#{script 'sly/vendor/modernizr.js' /}
	#{script 'contentflowAddOn_white.js' /} 
	#{script 'contentflow.js' /} 
#{/set} 

#{set historiqueActif:'active'/}

 <script language="JavaScript" type="text/javascript" src="/public/javascripts/contentflow.js"  load="white"></script>
 <script type="text/javascript">
 	var myNewFlow = new ContentFlow('myFantasicFlow', {flowSpeedFactor: 0.8, circularFlow: false } ) ;
 </script>
        
<meta charset="UTF-8">
<!-- Titre -->

<div class="container">
	<div class="row show-grid">
		<div class="span12 offset1">
			<h3>Historique</h3>
		</div>
	</div>
	<div class="ContentFlow" id="myFantasicFlow">
		<div class="loadIndicator">
			<div class="indicator"></div>
		</div>
		<div class="flow">
			#{list items:user.etatFrigo, as:'var'} 
				<img class=item
				href='@{Application.ancienEtat(var.id)}' src=${var.image}
				title=${var.date.format('dd/MM/yy')}> 
			#{/list}
		</div>
		
		<div class="globalCaption"></div>
		<div class="scrollbar">
			<!--<div class="slider">
				<div class="position"></div>
			</div> -->
		</div>
	</div>
</div>