#{extends 'main.html' /}
#{set title:'Bienvenue dans votre Frigo' /}

<!-- Ajout script pour les sous-onglets -->
	<script src="@{'/public/javascripts/sousOnglets.js'}"></script>

#{set accueilActif:'active'/}

<meta charset="UTF-8">

<section>

	<article class="contenuFrigo">
		<h2>Voici l'état actuel de votre frigo : </h2>
		
		<!-- l'état actuel du frigo est le plus récent des états frigos de l'utilisateur -->
		<img  src="${user.etatFrigo[0].image}" height="352" width="470"></img>
		
		<p>Date de la prise : "${user.etatFrigo[0].date}"</p>
		<aside class="listeContenu">
			<ul>
				<li class="contenu1">
					<a href="#"
						onmouseover="mopen('frEtLeg')"
						onmouseout="mclosetime()"> Fruit et Légume </a>
					<div id="frEtLeg"
						onmouseover="mcancelclosetime()"
						onmouseout="mclosetime()">
						<a href="/carottesRapees/"> 5 Carottes  -  Périmées le : 15/06/13</a>
						<a class="perime" href="#"> 3 Clémentines  -  <em class="datePeremption">Périmées le : 05/05/13 </em></a>
					</div>
				</li>
                <li>Viande</li>
                <li>Laitage</li>
                <li>Boisson</li>
                <li>Autre</li>
           	</ul>
		</aside>
	</article>
	
	<aside class="listeCour">
		<h4> Liste de courses courante </h4>
			<ul>
				<li>Fruit et Légume</li>
					<ul>
						<li>Tomates</li>
					</ul>
                <li>Viande</li>
                <li>Laitage</li>
                	<ul>
                		<li>Lait</li>
                		<li>Brie</li>
                	</ul>
                <li>Boisson</li>
                <li>Autre</li>
           	</ul>
           	<div class="postit">
           		<h4>Avez-vous pensé à...?</h4>
           		<ul>
           			<li>Coca</li>
           			<li>Emmental</li>
           		</ul>
           	</div>
	</aside>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    

