#{extends 'Application/listeCour.html' /}
#{set title:'Bienvenue dans votre Frigo' /}

<!-- Ajout script pour les menu déroulants -->
<script src="@{'/public/javascripts/sousOnglets.js'}"></script>

#{set accueilActif:'active'/}

<meta charset="UTF-8">

<section>

	<article class="contenuFrigo">
		<h2>Voici l'état actuel de votre frigo : </h2>
		
		<!-- l'état actuel du frigo est le plus récent des états frigos de l'utilisateur -->
		<img  src="${user.etatFrigo[0].image}" height="352" width="470"></img>		
		<p>Date de la prise : "${user.etatFrigo[0].date}"</p>

		<aside class="listeContenu">
			<ul>
				<li class="fruitsEtLegumes">
					<a href="#"
						onmouseover="mopen('frEtLeg')"
						onmouseout="mclosetime()"> Fruit et Légume </a>
					<div id="frEtLeg"
						onmouseover="mcancelclosetime()"
						onmouseout="mclosetime()">
						<a href="/carottesRapees/"> 5 Carottes  -  Périmées le : 15/06/13</a>
						<a class="perime" href="#"> 3 Clémentines  -  <em class="datePeremption">Périmées le : 05/05/13 </em></a>
					</div>
				</li>
                <li class="viande">Viande</li>
                <li class="laitages">Laitage</li>
                <li class="boissons">Boisson</li>
                <li class="autres">Autre</li>
           	</ul>
		</aside>
	</article>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

