#{extends 'Application/listeCour.html' /}
#{set title:'Bienvenue dans votre Frigo' /}

<!-- Ajout script pour les menu déroulants -->
<script src="@{'/public/javascripts/sousOnglets.js'}"></script>

#{set accueilActif:'active'/}

<meta charset="UTF-8">

<section>

	<article class="contenuFrigo">
		<h2>Voici l'état actuel de votre frigo : </h2>
		
		<!-- l'état actuel du frigo est le plus récent des états frigos de l'utilisateur -->
		<img  src="${user.etatFrigo[0].image}" height="352" width="470"></img>		
		<p>Date de la prise : "${user.etatFrigo[0].date}"</p>

		<aside class="listeContenu">
			<ul>


<!--  Ce serait cool que quand on clique ca se stabilise sur la section cliquée non? -->
	<li class="contenu1" id="contenuLegumes"> 
	<a href="#" onmouseover="mopen('frEtLeg')" onmouseout="mclosetime()"> Fruits et Légumes </a> 
		<div id="frEtLeg"
		onmouseover="mcancelclosetime()"
		onmouseout="mclosetime()">
	#{list items:fruitsLegumes, as:'aliment'}
	<a href="#">${aliment.nom}  - Date de Peremption : ${aliment.peremption.format('dd/MM/yy')} </a>
	#{/list}
		</div>
		</li>
	<li class="contenu1" id="contenuBoissons"> 
	<a href="#" onmouseover="mopen('boissons')" onmouseout="mclosetime()"> Boissons </a> 
			<div id="boissons"
		onmouseover="mcancelclosetime()"
		onmouseout="mclosetime()">
	#{list items:boissons, as:'aliment'}
	 <a href="#">${aliment.nom}  - Date de Peremption : ${aliment.peremption.format('dd/MM/yy')} </a>
	#{/list}
	</div>
	</li>
	
	<li class="contenu1" id="contenuViande"> 
	<a href="#" onmouseover="mopen('viandes')" onmouseout="mclosetime()"> Viandes </a> 	
			<div id="viandes"
		onmouseover="mcancelclosetime()"
		onmouseout="mclosetime()">
	#{list items:viandes, as:'aliment'}
	<a href="#">${aliment.nom}  - Date de Peremption : ${aliment.peremption.format('dd/MM/yy')} </a>
	#{/list}
	</div>
	</li>
	
	<li class="contenu1" id="contenuLait"> 
	<a href="#" onmouseover="mopen('laitages')" onmouseout="mclosetime()"> Laitages </a> 
			<div id="laitages"
		onmouseover="mcancelclosetime()"
		onmouseout="mclosetime()">
	#{list items:laitages, as:'aliment'}
	<a href="#">${aliment.nom}  - Date de Peremption : ${aliment.peremption.format('dd/MM/yy')} </a>
	#{/list}
	</div>
	</li>
	
	<li class="contenu1" id="contenuAutre"> 
	<a href="#" onmouseover="mopen('autre')" onmouseout="mclosetime()"> Autre </a> 
			<div id="autre"
		onmouseover="mcancelclosetime()"
		onmouseout="mclosetime()">
	#{list items:autre, as:'aliment'}
	<a href="#">${aliment.nom}  - Date de Peremption : ${aliment.peremption.format('dd/MM/yy')} </a>
	#{/list}
	</div>
	</li>
	
           	</ul>
		</aside>
	</article>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

