#{extends 'main.html' /}
	
<meta charset="UTF-8">

 #{doLayout /}

<aside class="listeCour">
		<h4> Liste de courses courante </h4>
		<ul class="liste">
			<li>Fruit et Légume</li>
				<ul class="sous">
					<li><a href='#'>
						<img src="/public/images/round_delete.png" width=20px />
						</a>Tomates</li>
				</ul>
           	<li>Viande</li>
            <li>Laitage</li>
               	<ul class="sous">
                	<li><a href='#'>
                		<img src="/public/images/round_delete.png" width=20px /></a>Lait
                	</li>
                	<li>
                		<a href='#'>
                		<img src="/public/images/round_delete.png" width=20px /></a>Brie
                	</li>
                	<li>
                		<a href='#'>
                		<img src="/public/images/round_delete.png" width=20px /></a>Danone
                	</li>
                </ul>
            <li>Boisson</li>
            <li>Autre</li>
       </ul>
       
       <form>
       		<input type="text" value="Ajouter un aliment à votre liste" name="ajoutAliment"/>
       		<input type="submit" value="Ajouter">
       </form>
       
       <div class="postit">
           	<h4>Avez-vous pensé à...?</h4>
           	<ul>
           		<li>Coca
           		<a href='#'>
					<img src="/public/images/icon-add-grey.png" width=20px /></a></li>
           		<li>Emmental
           		<a href='#'>
					<img src="/public/images/icon-add-grey.png" width=20px /></a></li>
           		<li>Lardons
           		<a href='#'>
					<img src="/public/images/icon-add-grey.png" width=20px /></a></li>
           	</ul>
       </div>
</aside>
