#{extends 'Application/listeCour.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}    
#{/set}

#{set listesActif :'active'/}

<meta charset="UTF-8">
<!-- Titre -->
<div class="container">
	<div class="row show-grid">
		<div class="span12 offset1">
			<h3>Vos listes de courses favorites</h3>
		</div>
	</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>




