#{extends 'main.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
        
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}    
#{/set}

#{set profilActif :'active'/}

<meta charset="UTF-8">

<div class="wrap">
	<h2>Votre profil : </h2>
	
	<p>Nom : ${user.nom}</p>
	<p>Prenom : ${user.prenom}</p>
	<p>Date de Naissance : ${user.dateDeNaissance}</p>
	<p>Nombre de Personne dans le foyer : ${user.nbFoyer}</p>
	<p>e-mail : ${user.email}</p>
	<p>preference : ${user.preference}</p>
	
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
