#{extends 'main.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
        #{stylesheet 'profil.css' /}
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}    
#{/set}

#{set profilActif :'active'/}

<meta charset="UTF-8">

	<div class="wrap">
		<h2>Votre profil </h2>

		<strong>Nom</strong> : ${user.nom} <br/>
		<strong>Prénom</strong> : ${user.prenom}<br/>
		<strong>Date de Naissance</strong> : ${user.dateDeNaissance.format('dd/MM/yyyy')}<br/>
		<strong>Nombre de personne(s) dans le foyer</strong> : ${user.nbFoyer}<br/>
		<strong>Adresse e-mail</strong> : ${user.email}<br/>
		<strong>Préférence</strong> : ${user.preference}<br/>

	</div>

	<aside id="imageProfil">
		#{if user.preference.name=='Aucune'}
			<img src="/public/images/profil/userNull.svg" alt="imageProfil" />
		#{/if}
		#{elseif user.preference.name=='Dietetique'}
			<img src="/public/images/profil/userDietetique.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference.name=='Bio'}
			<img src="/public/images/profil/userBio.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference.name=='Sport'}
			<img src="/public/images/profil/userSport.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference.name=='Francais'}
			<img src="/public/images/profil/userFrance.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference.name=='Exotique'}
			<img src="/public/images/profil/userExotique.svg" alt="imageProfil" />
		#{/elseif}
	</aside>

	<div class="wrap" id="stat">
		<h2>Vos statistiques</h2>
		<strong>Aujourd'hui vous avez ouvert votre frigo</strong> : ${nbOuvertureJour} fois <br />
		<strong>Votre catégorie favorite</strong> : Fruits et légumes <br />
		<strong>Nombre moyen d'ouvertures du frigo par jour</strong> : 13 <br />
		<strong>Nombre moyen de remplissage de frigo par mois</strong> : 2 <br />
		<strong>Taux de remplissage moyen du frigo</strong> : 58% <br />
	</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
