#{extends 'main.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
        #{stylesheet 'profil.css' /}
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}    
#{/set}

#{set profilActif :'active'/}

<meta charset="UTF-8">

	<div class="wrap">
		<h2>Votre profil </h2>
		
		<strong>Nom</strong> : ${user.nom} <br/>
		<strong>Prénom</strong> : ${user.prenom}<br/>
		<strong>Date de Naissance</strong> : ${user.dateDeNaissance.format('dd/MM/yyyy')}<br/>
		<strong>Nombre de personne(s) dans le foyer</strong> : ${user.nbFoyer}<br/>
		<strong>Adresse e-mail</strong> : ${user.email}<br/>
		<strong>Préférence</strong> : ${user.preference}
			
	</div>

	<aside id="imageProfil">
		#{if user.preference=='Aucune'}
			<img src="/public/images/profil/userNull.svg" alt="imageProfil" />
		#{/if}
		#{elseif user.preference=='Dietetique'}
			<img src="/public/images/profil/userDietetique.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference=='Bio'}
			<img src="/public/images/profil/userBio.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference=='Sport'}
			<img src="/public/images/profil/userSport.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference=='Francais'}
			<img src="/public/images/profil/userFrance.svg" alt="imageProfil" />
		#{/elseif}
		#{elseif user.preference=='Exotique'}
			<img src="/public/images/profil/userExotique.svg" alt="imageProfil" />
		#{/elseif}
	</aside>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
