#{extends 'main.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
<!--         #{stylesheet 'sly/normalize.css' /} -->
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}    
#{/set}

#{set mesRecettesActif:'active'/}

<meta charset="UTF-8">

<section>
	<div class="wrap">
			<h2>Vos Recettes</h2>
	</div>

</section>

		
		<!-- Scripts -->
<!-- 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
<!-- 	<script src="@{'/public/javascripts/sly/vendor/plugins.js'}"></script> -->
<!-- 	<script src="@{'/public/javascripts/sly/sly.js'}"></script> -->
<!-- 	<script src="@{'/public/javascripts/sly/horizontal.js'}"></script> -->