#{extends 'Application/listeCour.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}    
#{/set}

#{set mesRecettesActif:'active'/}

<meta charset="UTF-8">

<section>
	<div class="wrap">
			<h2>Vos recettes favorites : </h2>
	</div>

<!-- 	<aside class="listeCour">
		<h4> Liste de courses courante </h4>
			<ul>
				<li>Fruit et Légume</li>
					<ul>
						<li>Tomates</li>
					</ul>
                <li>Viande</li>
                <li>Laitage</li>
                	<ul>
                		<li>Lait</li>
                		<li>Brie</li>
                	</ul>
                <li>Boisson</li>
                <li>Autre</li>
           	</ul>
           	<div class="postit">
           		<h4>Avez-vous pensé à...?</h4>
           		<ul>
           			<li>Coca</li>
           			<li>Emmental</li>
           		</ul>
           	</div>
	</aside> -->
</section>