#{extends 'Application/listeCour.html' /}
#{set 'moreStyles'}
        #{stylesheet 'sly/font-awesome.css' /}
         #{stylesheet 'recettes.css' /}
#{/set}
#{set 'moreScripts'}
        #{script 'sly/vendor/modernizr.js' /}    
#{/set}

#{set mesRecettesActif:'active'/}

<meta charset="UTF-8">

<section>
	<div class="wrap">
			<h2>Vos recettes favorites </h2>
</div>

<div class="reperesRecettes">
	<ul>
	#{list items:user.recettesFavorites, as:'recette'}
		<li class="recettesFav">
		<a class="favorie" href="${recette.lien}"> ${recette.nom}</a>
			
			<div class="caract"
			onmouseover="mopen('cara')" 
			onmouseout="mclosetime()">
			
			<div class="espace">
				<div id="cara"
				onmouseover="mcancelclosetime()"
				onmouseout="mclosetime()">
					Difficulté : ${recette.difficulte} /4<br/>
					Prix : ${recette.prix} /4<br/>
					Calories : ${recette.calories} /4<br/>
				</div>
			</div>
			
			<div>Les aliments dont vous aurez besoin sont les suivants :
				<ul>
				#{list items:recette.ingredient, as:'aliment'}
					<li>${aliment.nom} <img src="/public/images/icon-add-grey.png" /></li>
				#{/list}
				</ul>				
				</div>
			</div>
		</li>

	#{/list}
	</ul>
	</div>
</section>

<script src="@{'/public/javascripts/sousOnglets.js'}"></script>