<!DOCTYPE html>
<html>
<head>

<title>Bienvenue dans votre Frigo</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet" media="screen">
<link href="@{'/public/stylesheets/main.css'}" rel="stylesheet"/>
<link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">


	#{get 'moreStyles' /}

	<script src="@{'/public/bootstrap/js/bootstrap.min.js'}"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	
	<!-- Ajout script pour les sous-onglets -->
	<script src="@{'/public/javascripts/sousOnglets.js'}"></script>
	
	#{get 'moreScripts' /} 
	
	
</head>
<body>
<div class="container">
      <div class="masthead">
      
      <a id="deconnexion" href="/logout" onclick="self.location.href='/logout/''">
      	<img src="/public/images/logout.svg" alt="Déconnexion" width=20/>
      </a> 
        
        <h3 class="muted"> Bienvenue ${user.prenom} !</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="#{get 'accueilActif' /}"><a href="/">Accueil</a></li>
                <li class="#{get 'historiqueActif' /}"><a href="/historique/">Historique</a></li>
                <li class="#{get 'mesRecettesActif' /}">
                	<a href="#"
                		onmouseover="mopen('m2')"
                		onmouseout="mclosetime()">Vos recettes</a>
                	<div id="m2"
                		onmouseover="mcancelclosetime()"
                		onmouseout="mclosetime()">
                		<a href="/recettesFavorites/">Favorites</a>
                		<a href="/recettesSuggerees/">Suggestions</a>
                	</div>
                </li>
				<li class="#{get 'listesActif' /}"> <a href="/listesFavorites/">Vos listes de courses</a>
<!-- 					<a href="#"  -->
<!-- 						onmouseover="mopen('m1')" -->
<!-- 						onmouseout="mclosetime()">Vos listes de courses</a> -->
<!-- 					<div id="m1" -->
<!-- 						onmouseover="mcancelclosetime()" -->
<!-- 						onmouseout="mclosetime()"> -->
<!-- 						<a href="/listesFavorites/">Favorites</a> -->
<!-- 						<a href="/listesArchivees/">Listes Archivées</a> -->

<!-- 					</div> -->
				</li>			
                <li class="#{get 'profilActif' /}"><a href="/profil/">Votre profil</a></li>
              </ul>
			<div style="clear:both"></div>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
    </div> <!-- /container -->
     
    
    #{doLayout /}
    
    <div class="offset4 span12" id="piedDePage">
    <footer>
    	<p>FrigoTimeMachine <a id="contact" href="#">Nous contacter</a></p> 
    </footer>
    </div>
    
</body>
</html>
